  {% extends 'layout.html' %}

  {% block body %}
    <div class="jumbotron text-center">
      <h1>ProjectMatchr</h1>
      <p class="lead">Find inspiration for unique data science project ideas</p>

    </div>
    <div class="page-content">
      <p>The demand for data scientists on the job market remains high, and there are many free online resources to help one gain the skills and experience needed to be a successful data scientist. One of the best ways for an aspiring or seasoned data scientist to prove his or her proficiency is to develop a portfolio of data projects that employ important data science techniques, from acquiring data, to processing and cleaning it, to developing, testing and validating a model or algorithm, and creating a product that renders meaningful and actionable output.
      </p>
      <p>A recent <a href="https://towardsdatascience.com/the-4-fastest-ways-not-to-get-hired-as-a-data-scientist-565b42bd011e"> blog post </a> lists that one of the four fastest ways <i>not</i> to get hired as a data scientist is to list trivial data projects on your resume. There are certain data sets and exercises that every data scientist has encountered on their journey. Going beyond these typical sources of inspiration for data science project ideas, ProjectMatchr uses information on projects completed by successful data scientists who participated in one of two career accelerator programs - <a href="http://insightdatascience.com">Insight Data Science</a> and <a href="http://thedataincubator.com"> The Data Incubator</a>. Participants in each of these programs completed projects that were extensively vetted by data science experts and cover a wide variety of project types and topics.
      </p>
      <p>This tool returns a list of projects that matched the keywords selected by the user based on a cosine similarity metric. Where available, links to more information about the project (e.g., slide deck, github repository) are provided. If there are none or few matching projects, take it as an opportunity to create an innovative idea based off of those keywords. If there are many matches, then that project idea may be saturated. However, you can still use the resources provided to learn how the tool was built.</p>
      <p>Contact me:<br>
        <a href="mailto:chelenasmith@gmail.com"> Che Smith, PhD </a><br>
        <a href="https://linkedin.com/in/CheSmith1"> LinkedIn profile </a><br>
        <a href="https://github.com/CheLena"> Github profile </a>
      </p>
    </div>
    
    
  {% endblock %}