  {% extends 'layout.html' %}

  {% block body %}
    <div class="jumbotron text-center">
      <h1>ProjectMatchr</h1>
      <p class="lead">Find inspiration for unique data science project ideas</p>
    </div>

<center>
    <a href="http://bit.ly/2Ix4Dfk">
         <img src="/static/images/projmatchr_slides.jpg" alt="ProjectMatchr" width="512">
        <h4>View slides</h4>
        
      </a>
            <p>Contact me:<br>
        <a href="mailto:chelenasmith@gmail.com"> Che Smith, PhD </a><br>
        <a href="https://linkedin.com/in/CheSmith1"> LinkedIn profile </a><br>
        <a href="https://github.com/CheLena"> Github profile </a>
      </p>
          </center>
    
  {% endblock %}